doctype html
html(lang="en")
  
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title
      | Home | Docker

  body
    .page-wrap
      .site-header
        .top-navigation
          nav.navbar.navbar-expand-lg.navbar-dark 
            .container
              //- a.navbar-brand(href='#') Navbar
              .logo.docker
                a.navbar-brand(href='/')
                  img(src='./img/bootstrap-solid.svg' width='150' height='45' alt='')
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.m-auto
                  li.nav-item.active
                    a.nav-link(href='#')
                      | Why Docker? 
                      span.sr-only (current)
                  li.nav-item
                    a.nav-link(href='#') Products
                  li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                      | Solutions
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                      a.dropdown-item(href='#') Action
                      a.dropdown-item(href='#') Another action
                      .dropdown-divider
                      a.dropdown-item(href='#') Something else here
                  li.nav-item
                    a.nav-link(href='#' tabindex='-1') Customers
                  li.nav-item
                    a.nav-link(href='#' tabindex='-1') Resources
                .navbar-nav
                  <a class="nav-item nav-link" href="#">Sig In</a>
                form.form-inline.my-2.my-lg-0
                  //- input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                  button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Search
      
      .container
        .row
          .col-sm-12
            h1.h1-responsive.font-weight-bold.text-white Enterprise Container Platform for High-Velocity Innovation
            p.text-white Securely build, share and run any application, anywhere  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel possimus magni quidem officiis porro blanditiis tempora rerum illum nam quaerat, architecto laboriosam mollitia molestiae! Est atque asperiores quia unde necessitatibus.
            br
            a.btn.btn-primary.btn-lg(href='./ui/index.html' role='button') 
              i.mdi.mdi-brush.mr-2
              | Learn More
        .row.justify-content-md-center
          .col-sm-10
            img(src='./img/Platform.svg' alt="platform")
      
      .container
        .row.justify-content-md-center
          .col-md-10
            .card.mb-5.mt-5.p-4.shadow-lg.rounded.border-0
              .row.no-gutters
                .col-md-4
                  img.card-img(src='./img/stackoverflow-survey-logo.png' alt='...')
                .col-md-8
                  .card-body
                    h5.card-title Docker Platform is a Developer Favorite
                    p.card-text
                      | Stack Overflow’s annual developer survey is always widely anticipated. Docker was ranked #1 in “Most Loved Platform”, #2 “Most Wanted Platform” and #3 “Platform In Use”.
                    p.card-text
                      small.text-muted Last updated 3 mins ago
                    p
                      a.btn.btn-primary.btn-lg(href='./ui/index.html' role='button') 
                        i.mdi.mdi-brush.mr-2
                        | check out the full survey
      
      section.card-section-logo.mt-5
        .container
          h2.title.text-center
            | The Docker Enterprise Difference
          p.sub-h2.mb-5.text-center
            | Leading companies rely on our container platform to build, manage and secure all their applications from traditional applications to cutting-edge microservices — and deploy them anywhere.

          .card-section-logo-row.d-flex.justify-content-between.mb-5
            .customer-item
              a(href="#")
                .card.text-center
                  .card-front
                  .card-back
                    .text-wrap(style="width: 220px;")
                      h4
                        | High-Velocity Innovation
                      p Rapidly deliver engaging new customer experiences by building new, modern applications.
            .customer-item
              a(href="#")
                .card.text-center
                  .card-front
                  .card-back
                    .text-wrap(style="width: 220px;")
                      h4
                        | Any App, Anywhere
                      p Easily adapt to new technologies with a single, common platform for any application, anywhere.
            .customer-item
              a(href="#")
                .card.text-center
                  .card-front
                  .card-back
                    .text-wrap(style="width: 220px;")
                      h4
                        | Intrinsic Security
                      p Continuously ensure compliance and mitigate risks from end-to-edge without slowing down innovation.
          .action-wrap.mt-5.mb-5.text-center
            a.btn.btn-primary.btn-lg(href='#' role='button') 
              i.mdi.mdi-brush.mr-2
              | Why Docker?


      section.image-text-section.image-left.mt-5.mb-5
        .container.m-auto
          .row
            .col-md-5.image-col
              img.img-fluid(src='./img/dev_sm.jpg' alt='...')
            .col-md-5.text-col.offset-md-2
              h2 Introducing Docker Enterprise 3.0
              p.subtitle
                | Seamlessly build and share any application — from legacy to what comes next — and securely run them anywhere.
              p
                | Docker Enterprise is the easiest and fastest way to use containers and Kubernetes at scale and delivers the fastest time to production for modern applications, securely running them from hybrid cloud to the edge.
              p
                | Over 750 enterprise organizations use Docker Enterprise for everything from modernizing traditional applications to microservices and data science.
              p
                a.btn.btn-primary.btn-lg(href='./ui/index.html' role='button') 
                  i.mdi.mdi-brush.mr-2
                  | Explore Docker Products

      section.image-text-section.image-left.mt-5.mb-5
        .container.m-auto
          .row
            
            .col-md-5.text-col
              h2 Introducing Docker Enterprise 3.0
              p.subtitle
                | Seamlessly build and share any application — from legacy to what comes next — and securely run them anywhere.
              p
                | Docker Enterprise is the easiest and fastest way to use containers and Kubernetes at scale and delivers the fastest time to production for modern applications, securely running them from hybrid cloud to the edge.
              p
                | Over 750 enterprise organizations use Docker Enterprise for everything from modernizing traditional applications to microservices and data science.
              p
                a.btn.btn-primary.btn-lg(href='./ui/index.html' role='button') 
                  i.mdi.mdi-brush.mr-2
                  | Read Report
            .col-md-5.image-col.offset-md-2
              img.img-fluid(src='./img/stackoverflow-survey-logo.png' alt='...')
      
      section.cta-section.cubes-background
        .cubes-left
        .cubes-right
        .container.text-center
          .text-wrap
            h2.xl Get started with Docker today
            a.btn.btn-primary(href='/get-docker') Get started

      section.clients-showcase-section
        .container
          .ribbon
            .logo-wrap.inview
              a(href='#')
                img.image(src='./img/paypal-color.png', alt='paypal-color.png')
            .logo-wrap.inview
              a(href='#')
                img.image(src='./img/adp-color.png', alt='adp-color.png')
            .logo-wrap.inview
              a(href='#')
                img.image(src='./img/paypal-color.png', alt='paypal-color.png')
            .logo-wrap.inview
              a(href='#')
                img.image(src='./img/paypal-color.png', alt='paypal-color.png')
            .logo-wrap.inview
              a(href='#')
                img.image(src='./img/paypal-color.png', alt='paypal-color.png')

      footer.footer
        .container.mb-5
          .row
            .col-lg-2
              img(src='./img/bootstrap-solid.svg' width='150' height='45' alt='')
            .col-lg-10
              | menus
        .container-fluid.mt-5.text-right
          a.btn.btn-primary.btn-lg(href='#' role='button') 
            | Read Report
        .container.mt-5.mb-5.pt-5.pb-5
          .row
            .col-md-8
              | © 2019 Docker Inc. All rights reserved | 
              a(href="") Terms of Service | 
              a(href="") Privacy |
              a(href="")  Legal
            .col-md-4.text-right
              | Facebook | Instagram | Twitter


