// .page-wrap {
//     // height: 100vh;
//     background-image: url('../img/homepage-banner-bg.svg');
//     background-position: 100% 0;
//     background-size: cover;
//     padding-bottom: 100px !important;
//  }


.page-wrap {
  background-image: url('../img/homepage-banner-bg.svg');
    // padding-top: 180px;
    min-height: 150px;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-header {
  padding: 30px 0 23px;
}

div {
  // border: 1px solid red;
}


p.sub-h2 {
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.25;
    color: #697A89;
    font-size: $h3-font-size * .9;
}

.customer-item a{
    color: #007bff;
    // text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.customer-item a .card {
  width: 300px;
  min-height: 200px;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 1rem;
  background-color: white;
}

.customer-item .card .card-front {
  // para la imagen
}

.customer-item .card .card-back {
  // para el texto
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 1;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

 .customer-item .card .card-back .text-wrapping {
    max-width: 220px !important;
}



.cta-section {
    text-align: center;
    padding: 100px 0;
}

.cubes-background {
    position: relative;
}

.cubes-background .cubes-left, .cubes-background .cubes-right {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.cubes-background .cubes-left {
    background-position: center left;
    background-image: url('../img/cta-cubes-left-3.svg');
    left: 0;
}

.cubes-background .cubes-right {
    background-position: center right;
    background-image: url('../img/cta-cubes-right-3.svg');
    right: 0;
}

.cta-section .text-wrap {
    max-width: 535px;
    margin: 0 auto;
}

.clients-showcase-section .ribbon .logo-wrap {
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 15px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.clients-showcase-section .ribbon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.clients-showcase-section .ribbon .logo-wrap.inview {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

footer.footer {
  background-color: #022144;
    padding: 80px 0 40px;
}